.container-usuario {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .card-usuario {
    width: 100%;
    max-width: 500px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }
  
  button {
    height: 50px;
    font-size: 16px;
    margin-top: 10px;
  }