/* Fuente moderna */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import '@angular/material/prebuilt-themes/indigo-pink.css';
body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
    background-color: #f5f7fa; /* Fondo gris muy suave unificado */
}

/* Títulos de sección unificados */
h1 {
    font-size: 1.6rem;
    color: #2c3e50;
    margin-bottom: 5px;
}

/* Botones con sombra suave */
.mat-mdc-raised-button {
    box-shadow: 0 4px 6px rgba(0,0,0,0.1) !important;
}

/* Tarjetas flotantes */
.mat-elevation-z2 {
    box-shadow: 0 2px 10px rgba(0,0,0,0.05) !important;
}
.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-label-text-color: #ffffff !important;
    --mat-mdc-button-persistent-ripple-color: #ffffff !important;
    --mat-mdc-button-ripple-color: #ffffff !important;
    color: #ffffff !important; /* Respaldo directo */
}
.btn-nuevo {
    color: #ffffff !important;
}